---
// src/pages/kontak.astro
import Layout from '../components/publik/Layout.astro';
import ContactForm from '../components/publik/ContactForm.astro';
---
<Layout title="Kontak Kami">
  <section id="kontak" class="text-center">
    <ContactForm />
  </section>
</Layout>
