---
import Layout from '../components/publik/Layout.astro';
---

<Layout title="Kontak Kami">
    <section id="kontak" class="text-center">
      <h2 class="text-2xl font-bold text-gray-800">Tentang Kami</h2>
    </section>
  </Layout>