
---
import type { ACTION_ERROR_CODES } from "astro:actions"
import CarouselItem from "./CarouselItem.astro"

const carousels = [
    {
        judul: "Mikella Leather Conditioner",
        deskripsi: "Mikella adalah kondisioner kulit yang dirancang khusus untuk merawat dan melindungi produk kulit Anda, memberikan kilau dan kelembutan yang tahan lama.",
        gambar: "/images/produk_2.jpg",
        cta: "Lihat Produk",
        path: "/produk/mikella",
        logo: "/images/mikella_logo_g.svg",
        direction: "right"
    },
    {
        judul: "Sadayana Virgin Coconut Oil",
        deskripsi: "Nikmati manfaat kesehatan dan kecantikan dari Sadayana, minyak kelapa murni yang diproses dengan teknologi terkini untuk menjaga kemurnian dan kualitasnya.",
        gambar: "/images/produk_1.jpg",
        cta: "Lihat Produk",
        path: "/produk/sadayana",
        logo: "/images/sadayana_logo_g.svg",
        direction: "left"
    }
]
---
<div id="carousel" class="relative" data-carousel="static" data-carousel-interval="10000">
    <div class="relative h-[62vh] overflow-hidden">
        {carousels.map(carousel => (
            <CarouselItem {...carousel} />
        ))}
    </div>
    <!-- <div class="absolute z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse bottom-5 left-1/2">
        {carousels.map((el, i) => (
            <button type="button" class="w-3 h-3 rounded-full bg-blue-500" aria-current="true" aria-label={"Slide" + i} data-carousel-slide-to={i}></button>
        ))}
    </div> -->
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-green/30 group-hover:bg-green/50 group-focus:ring-4 group-focus:ring-green-400 group-focus:outline-none">
            <svg aria-hidden="true" class="w-6 h-6 text-green" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-green/30 group-hover:bg-green/50 group-focus:ring-4 group-focus:ring-green-400 group-focus:outline-none">
            <svg aria-hidden="true" class="w-6 h-6 text-green" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>

