<section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Produk Kami</h2>
            <p class="mb-4">Produk KamiKami menawarkan beragam produk kelapa termasuk VCO, cocopeat, pellet kopra, arang batok kelapa, dan briket batok kelapa yang diproduksi dengan teknologi modern dan ramah lingkungan.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="/images/produk_1.jpg" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="/images/produk_2.jpg" alt="office content 2">
        </div>
    </div>
</section>