---
import Navbar from "./Navbar.astro"
---
<header class="bg-white shadow sticky top-0 z-50">
    <Navbar />
    <!-- <div class="container mx-auto px-6 py-3">
      <div class="flex items-center justify-between">
        <div class="text-xl font-semibold text-gray-700">
          <a href="/" class="text-gray-800">Nara Seungit Sadayana</a>
        </div>
        <div class="hidden md:flex">
          <a href="/produk" class="text-gray-800 hover:text-gray-600 mx-4">Produk</a>
          <a href="/kontak" class="text-gray-800 hover:text-gray-600 mx-4">Kontak</a>
        </div>
        <div class="md:hidden">
          <button class="text-gray-800 focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
          </button>
        </div>
      </div>
    </div> -->
  </header>
  