---

const {path, name} = Astro.props;
---
<li class="text-sm text-gray-700 dark:text-gray-400">
    <a href={path} class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{name}</a>
</li>